<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head}}
    <title>Farmyard BloodBath</title>
  </head>
  <body>

    {{>nav}}

    <div class="container">
      {{{body}}}
    </div>

    <script src="https://bootswatch.com/sandstone/bootstrap.min.css"></script>
  </body>
</html>
