<div class="page-header">
  <h3>Farmyard Bloodbath</h3>
</div><!-- ./page-header-->
<div>
  <p>Farmyard Bloodbath, an agriculture themed shoot 'em up!</p>
</div>
<div class="row">
  <div class="col-md-3"></div>
  <div id="gameTile" class="col-md-6">
      <script src='/js/RemotePlayer.js'></script>
      <script src='/js/game.js'></script>
  </div>
  <div class="col-md-3"></div>
</div>
