<div class="page-header">
  <h3>Farmyard Bloodbath</h3>
</div><!-- ./page-header-->
<div class="row">
  <div class="col-md-3"></div>
  <div id="gameCanvas" class="col-md-6">
    <script src='/js/RemotePlayer.js'></script>
    <script src='/js/game.js'></script>
  </div>
  <div class="col-md-3"></div>
</div>
